@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

body {
  min-height: 100vh;
  position: relative;
  font-family: 'Noto Sans Display', sans-serif;
}

.height50 {
  height: 50px;
}

.width100 {
  width: 100%;
}

.flex {
  display: flex;
}

.spaceBetween {
  justify-content: space-between;
}

.alignCenter {
  align-items: center;
}

.paddingOver5 {
  padding: 5px;
}

.marginOver5 {
  margin: 5px;
}

.darkBackground {
  background-color: rgb(124, 124, 158);
}

.whiteColor {
  color: rgb(219, 219, 214)
}

.noDecorationList {
  list-style: none;
}

.noPadding {
  padding: 0%;
}

.absolute {
  position: absolute;
}

footer {
  bottom:-55px;
}

.linkNoStyle {
  text-decoration: none;
}

.column {
  flex-direction: column;
}

.width250px{
  width: 250px;
}

.jusifyCenter {
  justify-content: center;
}

.width95 {
   width: 95%;
}

.textCenter {
  text-align: center;
}

form textarea {
  height: 100px;
}

button {
  height: 25px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.smallLetters {
  font-size: 12px;
}

.padding15{
  padding: 15px
}

.darkBorder {
  border: 2px solid rgb(124, 124, 158);
}
.marginBottom {
  margin-bottom:50px;
}

.wrap {
  flex-wrap: wrap;
}

.paddingSides{
  padding: 0 20px;
}

.darkButton {
  background-color: rgb(124, 124, 158);
}

.heignt230px {
  height:230px;
}
